* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: hsl(240, 38%, 20%);
    font-size: 32px;
}

.container {
    background-image: url('/images/pattern-curve.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 100vh;
}

.background-image-container {
    display: flex;
    flex-direction: row;
}

.pattern-quotes {
    position: absolute;
    height: 13%;
    left: 18%;
    top: 26%;
}

.pattern-bg {
    position: absolute;
    height: 85%;
    top: 5%;
    right: 5%;
}

.photo {
    background-image: url('./images/image-tanya.jpg');
    background-repeat: no-repeat;
    height: 70%;
    width: 36%;
    position: absolute;
    left: 51%;
    top: 13%;
    border-radius: 3px;
    box-shadow: 0px 53px 53px -53px;
}

.scroll{
    display:flex;
    position: absolute;
    bottom: -5%;
    left: 10%;
}

.prev {
    padding: 5px 20px;
    margin: 0;
    background-color: white;
    border-radius: 50% 0 0 50%;
}

.next {
    padding: 5px 20px;
    margin: 0;
    background-color: white;
    border-radius: 0 50% 50% 0;
}

.prev:hover, .next:hover{
    cursor: pointer;
}

.text {
    position: absolute;
    width: 42%;
    z-index: 1;
    left: 14%;
    top: 36%;
}

.quote {
    font-weight: 300;
    font-size:0.85em;
}

.text-attribute{
    display: flex;
    flex-direction: row;
}

.name { 
    font-weight: 700;
    font-size: 0.5em;
    margin: 25px 10px 10px 0;
}

.position {
    color:  hsl(240, 18%, 77%);
    font-weight: 700;
    font-size: 0.5em;
    margin: 25px 10px 10px 0;
}

@media screen and (max-width: 700px){

    body { 
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .container {
        background-image: url('/images/pattern-curve.svg');
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: 70%;
        height: 100vh;
    }

    .background-image-container {
        display: flex;
        flex-direction: column;
    }

    .pattern-quotes {
        position: absolute;
        height: 7%;
        left: 49%;
        top: 58%;
    }
    
    .pattern-bg {
        position: absolute;
        height: 50%;
        top: 3%;
        right: 5%;
    }

    .photo {
        width: 63%;
        height: 4%;
        left: 23%;
        top: 8%;
        background-size: contain;
        border-radius: 10px;
    }

    .scroll{
        position: absolute;
        bottom: -6%;
        left: 34%;
    }

    .prev, .next {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 13px 15px;
    }

    .prev img, .next img {
      width: 100%;
    }

    .text {
        top: 61.5%;
        left: 23%;
        width: 65%;
    }

    .quote {
        font-weight: 300;
        font-size:0.53em;
        text-align: center;
    }

    .text-attribute {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .name { 
        font-weight: 700;
        font-size: 0.48em;
        margin: 15px 10px 1px 0;
        
    }
    
    .position {
        color:  hsl(240, 18%, 77%);
        font-weight: 700;
        font-size: 0.48em;
        margin: 0px 10px 10px 0;
    }
    
}